# In order to get .env approach working, you might copy this file. This file is read
# line by line by django-environ library (Refer to its documentation to more info).
# Each line is formed by KEY=VALUE where `KEY` is the configuration read by the
# settings.py file. You need to change the values after the `=` sign and can create
# new values by appending new variables at the end of the file.

DEBUG=True
HOST=*
PORT=8000

CELERY_FLOWER_USER=<CELERY_FLOWER_USER>
CELERY_FLOWER_PASSWORD=<CELERY_FLOWER_PASSWORD>

POSTGRES_DB=<POSTGRES_DB>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

BASE_URL=<https://example.com/>


HOSTNAME=<example.com>
HOST_EMAIL=<HOST_EMAIL>

# sendgrid
SENDGRID_USERNAME=<SENDGRID_USERNAME>
SENDGRID_PASSWORD=<SENDGRID_PASSWORD>
SENDGRID_EMAIL=<SENDGRID_EMAIL>

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_STORAGE_BUCKET_NAME=<AWS_STORAGE_BUCKET_NAME>
AWS_STORAGE_REGION=<AWS_STORAGE_REGION>


# facebook
SOCIAL_AUTH_FACEBOOK_CLIENT_ID=<SOCIAL_AUTH_FACEBOOK_CLIENT_ID>
SOCIAL_AUTH_FACEBOOK_SECRET=<SOCIAL_AUTH_FACEBOOK_SECRET>
# google
SOCIAL_AUTH_GOOGLE_CLIENT_ID=<SOCIAL_AUTH_GOOGLE_CLIENT_ID>
SOCIAL_AUTH_GOOGLE_SECRET=<SOCIAL_AUTH_GOOGLE_SECRET>
# apple
SOCIAL_AUTH_APPLE_CLIENT_ID=<SOCIAL_AUTH_APPLE_CLIENT_ID>
SOCIAL_AUTH_APPLE_SECRET=<SOCIAL_AUTH_APPLE_SECRET>
SOCIAL_AUTH_APPLE_KEY=<SOCIAL_AUTH_APPLE_KEY>
SOCIAL_AUTH_APPLE_CERTIFICATE_KEY=<SOCIAL_AUTH_APPLE_CERTIFICATE_KEY>

# maps
GOOGLE_MAPS_API_KEY=<GOOGLE_MAPS_API_KEY>
